<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>Tags:
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>
<p>Author: <%= @post.user.name %></p>

